*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

#canvas {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1; /* TODO: consider removing */
}

.__body {
    /* If I want to be able to click on the view windows I need to assign
    canvas a z-index of -1 and remove the background color from the __body element */

    padding: 10rem 5rem;
    width: 100%;
    height: 100%;

    /* background-color: aquamarine; TODO: uncomment */
}

.views {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;    
}

#view_1, #view_2 {
    outline: solid black 2px;
}