*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

#canvas {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1; /* TODO: consider removing */
}