*, *::before, *::after {
    box-sizing: border-box;
}

/* remove deafault margin */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(171, 255, 138);
}

canvas {
    border: solid black 2px;
}

.info_div {
    display: flex;
    flex-direction: column;
}

.num_div {
    display: flex;
}